# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
PKG-INFO
*.egg-info/
*.dist-info/
.Python

# Virtual environments
.venv/

# Pytest cache
.pytest_cache/

# Local config
*.log
.tmp/
